


body{
  background-image: url("../images/chalkboard.jpg");
  background-size: 100%;  
  color: white;
  font-family: BlackBoard; 
 }  

 h1{
  position: relative;
  margin-top: 10px;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 100px;
  text-align: center;
 }
.game{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 170px;
  font-weight: bold;
  height: 50px;
}

 
 .square #1{
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}
.result{
  position: relative;
  font-size: 30px;
}

button {
 position: relative;
  font-size: 30px;
  background-image: url("../images/chalkboard.jpg");
  border: 1px white solid;
  }
