


body{

  background-image: url("../images/chalkboard.jpg");
  background-size: 100%;  
  color: white;
  font-family: BlackBoard; 
 }  

 h1{
  position: relative;
  margin-top: 10px;
  margin-right: 70px;
  margin-bottom: 10px;
  margin-left: 70px;
  font-size: 100px;
  text-align: center;
 }
.game{
  position: relative;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: 170px;
  font-weight: bold;
  height: 50px;
  b/*order: 5px solid white;*/
}
/**tr {
  border-bottom: solid 1px white;
}
  */

/* .square{
  border-bottom: 1px solid white; 
  border-right:1px solid white;
 } */
 #1{
  border-right: 5px solid white;
  border-bottom: 5px solid white;
 }
/*#1{
  border-right: 5px solid white;
  border-bottom: 5px solid white;
}*//*/
*/
button {
 position: relative;
  font-size: 30px;
  background-image: url("../images/chalkboard.jpg");
  border: 1px white solid;
  margin-right: 10px;
  margin-left: 200px
}